{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 4,
  "overrides": [
    {
      "files": ["*.yml", "*.json", ".prettierrc", ".eslintrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
